<section class="hero is-primary">
  <div class="hero-body">
    <div class="columns" id="particles-js">
      <div></div>
      <div class="column is-6">
        <div class="container content animated slideInLeft">
          <i class="is-large fas fa-warehouse"></i>
          <h1 class="title">
            Inventory APP <i class="is-small fas fa-truck-moving"></i>
          </h1>
          <h3 class="subtitle">
            Manage all your stocks and transactions.
          </h3>
        </div>
      </div>
      <div class="column is-6">
        <div class="box animated slideInDown">
          <ul class="steps">
            <li class="steps-segment">
              <span class="steps-marker">★</span>
            </li>
            <li class="steps-segment">
              <span class="steps-marker">★</span>
            </li>
            <li class="steps-segment ">
              <span class="steps-marker">★</span>
            </li>
            <li class="steps-segment">
              <span class="steps-marker">★</span>
            </li>
            <li class="steps-segment is-active">
              <span class="steps-marker">
                <span class="icon">
                  <i class="fa fa-check"></i>
                </span>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
