<div class="tile is-ancestor">
  <div class="tile is-vertical is-8">
    <div class="tile">
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">ITEM</p>
          <p class="subtitle">2</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">UNIT</p>
          <p class="subtitle">3</p>
        </article>
      </div>
      <div class="tile is-parent is-vertical">
        <article class="tile is-child notification is-primary">
          <p class="title">STOCK</p>
          <p class="subtitle">2</p>
        </article>
        <article class="tile is-child notification is-warning">
          <p class="title">TRANSACTION</p>
          <p class="subtitle">PURCHASE:500000 SELLING:700000</p>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-danger">
        <p class="title">About Application</p>
        <p class="subtitle">Here's about application</p>
        <div class="content">
          <!-- Content -->
        </div>
      </article>
    </div>
  </div>
  <div class="tile is-parent">
    <article class="tile is-child notification is-success">
      <div class="content">
        <p class="title">About Author</p>
        <p class="subtitle">Here's about author</p>
        <div class="content">
          <!-- Content -->
        </div>
      </div>
    </article>
  </div>
</div>
