<aside class="is-medium menu">
  <p class="menu-label">
    MENU
  </p>
  <ul class="menu-list">
    <li class="list-menu" style="display: none;">
      <a class="select-menu is-selected" id="home-menu" onclick="home()"
        ><i class="fas fa-home"></i>HOME</a
      >
    </li>
    <li class="list-menu" style="display: none;">
      <a class="select-menu" id="item-menu" onclick="itemContent()"
        ><i class="fas fa-boxes"></i>ITEM</a
      >
    </li>
    <li class="list-menu" style="display: none;">
      <a class="select-menu" id="unit-menu" onclick="unitContent()"
        ><i class="fas fa-balance-scale"></i>UNIT</a
      >
    </li>
    <li class="list-menu" style="display: none;">
      <a class="select-menu" id="stock-menu" onclick="stockContent()"
        ><i class="fas fa-truck-loading"></i>STOCK</a
      >
    </li>
    <li class="list-menu" style="display: none;">
      <a
        class="select-menu"
        id="transaction-menu"
        onclick="transactionContent()"
        ><i class="fas fa-money-bill-wave"></i>TRANSACTION</a
      >
    </li>
  </ul>
</aside>
